/*--fonts---*/
/** 
 * Importing custom fonts from Google Fonts.
 * The fonts imported are "Arimo," "Great Vibes," and "Philosopher."
 */
 @import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600&display=swap");
 @import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
 @import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");
 
 /** 
  * Defining a custom font 'midnight_signature' using a TrueType font file.
  * This font is set to bold and normal style.
  */
 @font-face {
   font-family: 'midnight_signature';
   src: url("../fonts/midnight_signature.ttf") format("truetype");
   font-weight: bold;
   font-style: normal;
 }
 
 /** 
  * Defining a custom font 'made_tommybold' with WOFF2 and WOFF formats.
  * This font is set to normal weight and style.
  */
 @font-face {
   font-family: 'made_tommybold';
   src: url("../fonts/madetommy_bold-webfont.woff2") format("woff2"), url("../fonts/madetommy_bold-webfont.woff") format("woff");
   font-weight: normal;
   font-style: normal;
 }
 
 /** 
  * Defining a custom font 'made_tommymedium' with WOFF2 and WOFF formats.
  * This font is set to normal weight and style.
  */
 @font-face {
   font-family: 'made_tommymedium';
   src: url("../fonts/madetommy_medium-webfont.woff2") format("woff2"), url("../fonts/madetommy_medium-webfont.woff") format("woff");
   font-weight: normal;
   font-style: normal;
 }
 
 /** 
  * Defining a custom font 'made_tommyregular' with WOFF2 and WOFF formats.
  * This font is set to normal weight and style.
  */
 @font-face {
   font-family: 'made_tommyregular';
   src: url("../fonts/madetommy_regular-webfont.woff2") format("woff2"), url("../fonts/madetommy_regular-webfont.woff") format("woff");
   font-weight: normal;
   font-style: normal;
 }
 
 /** 
  * Defining a custom font 'made_tommylight' with WOFF2 and WOFF formats.
  * This font is set to normal weight and style.
  */
 @font-face {
   font-family: 'made_tommylight';
   src: url("../fonts/madetommy_light-webfont.woff2") format("woff2"), url("../fonts/madetommy_light-webfont.woff") format("woff");
   font-weight: normal;
   font-style: normal;
 }
 
 /** 
  * Global styles for html and body elements.
  * Prevents horizontal scrolling by hiding overflow in the x-direction.
  */
 html,
 body {
   overflow-x: hidden;
 }
 
 /** 
  * Body styles including font family, size, text color, and background color.
  */
 body {
   font-family: 'made_tommyregular';
   font-size: 15px;
   position: relative;
   color: #232323;
   background-color: #191970; /* Changed to midnight blue */
 }
 
 /** 
  * Container styles to position elements relative to their parent.
  */
 .container {
   position: relative;
 }
 
 /** 
  * Link styles to remove default underline and set color.
  */
 a {
   text-decoration: none;
   color: #232323;
 }
 
 /** 
  * Transition effects for links and buttons for smooth state changes.
  */
 a,
 button {
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
 }
 
 /** 
  * Focus and active states for links and buttons to remove outlines and shadows.
  */
 a:focus, a:visited, a:active,
 button:focus,
 button:visited,
 button:active {
   outline: none;
   box-shadow: none;
 }
 
 /** 
  * Styles for unordered lists and list items to remove default styles.
  */
 ul,
 li {
   list-style: none;
   padding: 0px;
   margin: 0px;
 }
 
 /*--- Scroll Top ---*/
 /** 
  * Styles for the fixed button that appears at the bottom of the screen.
  */
 .button-gift {
   position: fixed;
   bottom: 16px;
   left: 0;
   right: 0;
   z-index: 999;
   background: #fff;
   padding: 8px 20px;
   width: 165px;
   margin: auto;
   text-align: center;
   border-radius: 8px;
   color: #232323;
   font-size: 15px;
   border: solid 1px #191970;
 }
 
 /** 
  * Styles for the image inside the button.
  */
 .button-gift img {
   margin-right: 5px;
   width: 20px;
   vertical-align: middle;
   display: inline-block;
 }
 
 /** 
  * Hover effects for the button to change background color and font weight.
  */
 .button-gift:hover {
   background-color: #fdf8eb;
   color: #232323;
   font-weight: 500;
 }
 
 /** 
  * Modal styles for the gift modal body heading.
  */
 .modal-gift .modal-body h5 {
   text-align: center;
   font-size: 18px;
   margin-bottom: 10px;
 }
 
 /** 
  * Styles for the image in the modal body.
  */
 .modal-gift .modal-body > img {
   display: table;
   margin: 0 auto;
   margin-bottom: 10px;
 }
 
 /** 
  * Styles for the list of gifts in the modal.
  */
 .modal-gift .list-gift {
   display: flex;
   align-items: center;
   margin: 0 -5px;
   border-bottom: 1px solid #ececec;
   padding: 20px 5px;
 }
 
 /** 
  * Removes the border from the last gift item in the list.
  */
 .modal-gift .list-gift:last-child {
   border: none;
 }
 
 /** 
  * Styles for the columns in the gift list.
  */
 .modal-gift .list-gift .list-gift__col {
   padding: 0 5px;
   width: calc(100% - 70px);
 }
 
 /** 
  * Styles for the gift icon column in the gift list.
  */
 .modal-gift .list-gift .list-gift__col.gift-icon {
   width: 70px;
   text-align: center;
 }
 
 /** 
  * Styles for the text in the gift list columns.
  */
 .modal-gift .list-gift .list-gift__col span {
   display: block;
   font-size: 15px;
 }
 
 /** 
  * Styles for the payment method icons in the gift list.
  */
 .modal-gift .payment {
   width: 50px;
   height: 17px;
   margin: 0 auto;
   background-image: url(../img/gcash.jpg);
   background-repeat: no-repeat;
   background-size: 50px;
 }
 
 /** 
  * Specific styles for the BCA payment method icon.
  */
 .modal-gift .payment.bca {
   background-position: 0 0;
 }
 
 /** 
  * Specific styles for the Mandiri payment method icon.
  */
 .modal-gift .payment.mandiri {
   background-position: 0 -16px;
 }
 
 /** 
  * Styles for sections with padding.
  */
 .wf-section {
   padding: 30px 0;
 }
 
 /** 
  * Styles for section titles, including font size, family, weight, and color.
  */
 .wf-section .title-section {
   font-size: 30px;
   font-family: 'Philosopher', sans-serif;
   font-weight: 700;
   color: #191970; /* Midnight Blue */
   position: relative;
   display: table;
   margin: 0 auto;
   margin-bottom: 40px;
 }
 
 /** 
  * Styles for the before and after pseudo-elements of section titles.
  */
 .wf-section .title-section::before {
   content: "";
   position: absolute;
   height: 3px;
   width: 40px;
   background-color: #191970; /* Midnight Blue */
   left: -50px;
   top: 0;
   bottom: 0;
   margin: auto;
 }
 
 .wf-section .title-section::after {
   content: "";
   position: absolute;
   height: 3px;
   width: 40px;
   background-color: #191970; /* Midnight Blue */
   right: -50px;
   top: 0;
   bottom: 0;
   margin: auto;
 }
 
 /** 
  * Styles for smaller section titles.
  */
 .wf-section .title-section.title-section__small {
   font-size: 25px;
 }
 
 /*--- Cover ---*/
 /** 
  * Styles for the cover section, ensuring it takes full height and centers content.
  */
 html.invitation-closed,
 html.invitation-closed body {
   overflow: hidden;
 }
 
 .wf-section.wf-section__cover {
   padding: 0;
   min-height: 100vh;
   position: relative;
   background-size: cover !important;
   background-repeat: no-repeat;
   background-position: center;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 /** 
  * Specific styles for the invitation cover section.
  */
 .wf-section.wf-section__cover#invitation_cover {
   padding: 0 !important;
   position: fixed !important;
   overflow: hidden;
   width: 100%;
   height: 100vh;
   z-index: 999999;
   background-image: url("../img/WEDDING.png");
   padding-top: 50px;
 }
 
 /** 
  * Styles for the page cover section.
  */
 .wf-section.wf-section__cover#page_cover {
   background-image: url("../img/WEDDING.png");
 }
 
 /** 
  * Styles for the overlay effect on the page cover section.
  */
 .wf-section.wf-section__cover#page_cover::before {
   background-color: rgba(255, 255, 255, 0.3);
   position: absolute;
   content: "";
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
 }
 
 /** 
  * Styles for the gradient effect at the bottom of the page cover section.
  */
 .wf-section.wf-section__cover#page_cover::after {
   position: absolute;
   content: "";
   background: url("../img/bg-gradient.png");
   background-position: 10px;
   transform: rotate(180deg);
   height: 135px;
   width: 100%;
   background-size: 25px;
   bottom: 0;
   left: 0;
   right: 0;
 }
 
 /*--- Top Header ---*/
 /** 
  * Styles for the top header section, centering its content.
  */
 .wf-top-header {
   justify-content: center;
   text-align: center;
   position: relative;
   z-index: 9;
 }
 
 /** 
  * Styles for the h2 element in the top header.
  */
 .wf-top-header h2 {
   font-size: 24px;
   margin-bottom: 20px;
   font-family: 'Philosopher', sans-serif;
   font-weight: 700;
   color:#191970;
 }
 
 /** 
  * Styles for the header name section.
  */
 .wf-top-header .header-name {
   position: relative;
 }
 
 /** 
  * Styles for the main names in the header.
  */
 .wf-top-header .header-name h1 {
   font-size: 70px;
   font-weight: 700;
   font-family: 'midnight_signature';
   position: relative;
   color: #191970;
   line-height: 1.8em;
   padding-bottom: 15px;
   margin-bottom: 30px;
 }
 
 /** 
  * Styles for the last h1 element in the header name section.
  */
 .wf-top-header .header-name h1:last-child {
   position: absolute;
   left: 1px;
   top: 0.5px;
   right: 0;
   margin: auto;
 }
 
 /** 
  * Styles for the underline effect below the header name.
  */
 .wf-top-header .header-name::after {
   content: "";
   position: absolute;
   background-color: #191970;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   width: 100px;
   height: 5px;
 }
 
 /** 
  * Styles for the h4 element in the top header.
  */
 .wf-top-header h4 {
   display: block;
   margin-bottom: 25px;
   font-size: 22px;
   font-family: 'Philosopher', sans-serif;
   font-weight: 700;
   color: #191970;
 }
 
 /** 
  * Styles for paragraphs in the top header.
  */
 .wf-top-header p {
   margin-bottom: 15px;
   font-size: 16px;
   color: #191970;
 }
 
 /** 
  * Styles for h3 elements in the top header.
  */
 .wf-top-header h3 {
   font-size: 28px;
   margin-bottom: 25px;
   font-weight: normal;
   color: #191970;
   font-family: 'Philosopher', sans-serif;
   font-weight: 700;
 }
 
 /** 
  * Styles for spans within h3 elements in the top header.
  */
 .wf-top-header h3 span {
   display: block;
   color: #191970;
   font-family: 'made_tommyregular';
   font-size: 18px;
   margin-top: 5px;
 }
 
 /** 
  * Styles for the open invitation button in the top header.
  */
 .wf-top-header .btn-open {
   padding: 8px 15px;
   border: 2px solid #A67C00;
   background-color: #A67C00;
   color: #FFFFFF;
   display: table;
   margin: 0 auto;
   margin-top: 30px;
   border-radius: 8px;
 }
 
 /** 
  * Hover effects for the open invitation button.
  */
 .wf-top-header .btn-open:hover {
   background-color: #FFFFFF;
   color: #A67C00;
 }
 
 /*--- Section Bride ---*/
 /** 
  * Styles for the bride section, including background and layout.
  */
 .wf-section#section-bride {
   background: #fdf8eb;
   background: linear-gradient(0deg, #fdf8eb 0%, white 100%);
   position: relative;
   min-height: 100vh;
   display: flex;
   align-items: center;
   height: 100%;
   flex-direction: row;
 }
 
 /** 
  * Styles for the custom shape divider at the bottom of the bride section.
  */
 .wf-section#section-bride .custom-shape-divider-bottom {
   position: absolute;
   bottom: -1px;
   left: 0;
   width: 100%;
   overflow: hidden;
   line-height: 0;
   transform: rotate(180deg);
   z-index: 0;
 }
 
 /** 
  * Styles for the image in the custom shape divider.
  */
 .wf-section#section-bride .custom-shape-divider-bottom img {
   height: 90px;
   width: 100%;
 }
 
 /** 
  * Styles for paragraphs in the bride section.
  */
 .wf-section#section-bride p {
   font-size: 18px;
 }
 
 /** 
  * Styles for the container in the bride section.
  */
 .wf-section#section-bride .container {
   position: relative;
   z-index: 3;
 }
 
 /** 
  * Styles for the bride row layout.
  */
 .wf-bride-row {
   margin-top: 140px;
   display: flex;
   align-items: center;
 }
 
 /** 
  * Styles for individual columns in the bride row.
  */
 .wf-bride-row .wf-bride-col {
   flex-shrink: 3;
   flex-basis: fit-content;
   padding: 0 15px;
   flex: 1%;
 }
 
 /** 
  * Styles for the middle column in the bride row.
  */
 .wf-bride-row .wf-bride-middle {
   padding: 0 5px;
   flex: unset;
   width: 50px;
   margin: 0 auto;
 }
 
 /** 
  * Styles for the description box in the bride row.
  */
 .wf-bride-row .wf-bride-desc {
   background-color: #191970;
   border: 1px solid  #191970;
   padding: 15px;
   border-radius: 16px;
   height: 100%;
 }
 
 /** 
  * Styles for images in the bride description box.
  */
 .wf-bride-row .wf-bride-desc img {
   width: 200px;
   height: 200px;
   object-fit: cover;
   object-position: center;
   margin: 0 auto;
   border-radius: 50%;
   margin-top: -100px;
 }
 
 /** 
  * Styles for the double name display in the bride description box.
  */
 .wf-bride-row .wf-bride-desc .name-double {
   position: relative;
   margin: 20px 0;
 }
 
 /** 
  * Styles for the last name in the double name display.
  */
 .wf-bride-row .wf-bride-desc .name-double h1:last-child {
   position: absolute;
   top: 0.5px;
   left: 0.5px;
   margin: auto;
   right: 0;
 }
 
 /** 
  * Styles for the names in the bride description box.
  */
 .wf-bride-row .wf-bride-desc .name-double h1 {
   font-size: 35px;
   font-family: 'midnight_signature';
   font-weight: 700;
   color: #D3D3D3;
   line-height: 1.6em;
   margin: 0;
 }
 
 /** 
  * Styles for paragraphs in the bride description box.
  */
 .wf-bride-row .wf-bride-desc p {
   margin-bottom: 10px;
   font-size: 18px;
   color: #D3D3D3;
 }
 
 /** 
  * Styles for bold text in paragraphs in the bride description box.
  */
 .wf-bride-row .wf-bride-desc p b {
   font-family: 'made_tommymedium';
   font-weight: normal;
   color: #D3D3D3;
 }
 
 /** 
  * Styles for social media links in the bride description box.
  */
 .wf-bride-row .wf-bride-desc .list-sosmed {
   margin-top: 20px;
 }
 
 /** 
  * Styles for social media link icons.
  */
 .wf-bride-row .wf-bride-desc .list-sosmed a {
  color: #D3D3D3;
   font-size: 20px;
 }
 
 /** 
  * Hover effects for social media link icons.
  */
 .wf-bride-row .wf-bride-desc .list-sosmed a:hover {
  color: #D3D3D3;
 }
 
 /** 
  * Responsive styles for the bride section on smaller screens.
  */
 @media (max-width: 844px) {
   .wf-bride-row {
     display: block;
     margin-top: 75px;
   }
   .wf-bride-row .wf-bride-col {
     flex: unset;
   }
   .wf-bride-row .wf-bride-middle {
     margin-bottom: 75px;
     margin-top: 20px;
   }
   .wf-bride-row .wf-bride-desc img {
     width: 180px;
     height: 180px;
     margin-top: -75px;
   }
   .wf-bride-row .wf-bride-desc .name-double h1 {
     font-size: 28px;
   }
 }
 
 /** 
  * Responsive styles for the body and section titles on smaller screens.
  */
 @media (max-width: 767px) {
   body {
     font-size: 14px;
   }
   .wf-section .title-section {
     font-size: 25px;
   }
   .wf-section .title-section::before {
     width: 20px;
     left: -30px;
   }
   .wf-section .title-section::after {
     width: 20px;
     right: -30px;
   }
   .wf-section .title-section.title-section__small {
     font-size: 22px;
   }
   .wf-top-header .header-name h1 {
     font-size: 50px;
   }
   .wf-section#section-bride p {
     font-size: 15px;
   }
 }
 
 /*--- Section Schedule ---*/
 /** 
  * Styles for the schedule section, including background and layout.
  */
 .wf-section#section-schedule {
   background: url("..img/WEDDING.png") no-repeat;
   background-position: center 40%;
   background-size: cover;
   min-height: 100vh;
   display: flex;
   align-items: center;
   height: 100%;
   flex-direction: row;
   padding: 120px 0 60px 0;
   position: relative;
 }
 
 /** 
  * Styles for the custom shape divider at the top of the schedule section.
  */
 .wf-section#section-schedule .custom-shape-divider-top {
   position: absolute;
   top: -1px;
   left: 0;
   width: 100%;
   overflow: hidden;
   line-height: 0;
   z-index: 0;
 }
 
 /** 
  * Styles for the image in the custom shape divider at the top of the schedule section.
  */
 .wf-section#section-schedule .custom-shape-divider-top img {
   height: 90px;
   width: 100%;
 }
 
 /** 
  * Overlay effect for the schedule section.
  */
 .wf-section#section-schedule::before {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(255, 255, 255, 0.3);
   content: "";
 }
 
 /** 
  * Styles for the countdown row in the schedule section.
  */
 .row-countdown {
   margin-top: 60px;
 }
 
 /** 
  * Styles for the schedule row layout.
  */
 .wf-schedule-row {
   display: flex;
   align-items: center;
   max-width: 990px;
   width: 100%;
   margin: 0 auto;
   color: #D3D3D3;
 }
 
 
 /** 
  * Styles for individual columns in the schedule row.
  */
 .wf-schedule-row .wf-schedule-col {
   flex: 1%;
   padding: 0 12px;
 }
 
 /** 
  * Styles for the content box in the schedule row.
  */
 .wf-schedule-row .wf-schedule-content {
   background-color:#191970;
   padding: 40px 15px;
   border-radius: 16px;
   height: 100%;
 }
 
 /** 
  * Styles for the header in the schedule row.
  */
 .wf-schedule-row .wf-schedule-header {
   display: flex;
   align-items: center;
   justify-content: center;
   max-width: 80%;
   margin: 0 auto;
   height: 58px;
   margin-bottom: 25px;
   color: #D3D3D3;
 }
 
 /** 
  * Styles for individual columns in the schedule header.
  */
 .wf-schedule-row .wf-schedule-header__col {
   flex: 1%;
   padding: 0 10px;
   height: 100%;
   align-items: center;
   display: flex;
   justify-content: center;
   border-right: 2px solid  #D3D3D3;
 }
 
 /** 
  * Removes the border from the last column in the schedule header.
  */
 .wf-schedule-row .wf-schedule-header__col:last-child {
   border: none;
 }
 
 /** 
  * Styles for the h5 elements in the schedule header.
  */
 .wf-schedule-row .wf-schedule-header__col h5 {
   margin-bottom: 0;
   font-size: 16px;
   color: #D3D3D3;
 }
 
 /** 
  * Styles for spans within h5 elements in the schedule header.
  */
 .wf-schedule-row .wf-schedule-header__col h5 span {
   font-size: 30px;
   display: block;
   font-family: 'made_tommymedium';
 }
 
 /** 
  * Styles for the h1 elements in the schedule description.
  */
 .wf-schedule-row .wf-schedule-desc h1 {
   color: #191970;
   font-size: 25px;
   padding-bottom: 8px;
   position: relative;
   margin-bottom: 25px;
 }
 
 /** 
  * Underline effect for the h1 elements in the schedule description.
  */
 .wf-schedule-row .wf-schedule-desc h1::after {
   position: absolute;
   margin: 0 auto;
   left: 0;
   right: 0;
   bottom: 0;
   height: 2px;
   background-color: #D3D3D3;
   width: 80px;
   content: "";
 }
 
 /** 
  * Responsive styles for the schedule section on smaller screens.
  */
 @media (max-width: 767px) {
   .wf-section#section-schedule {
     background-position: 65%;
   }
   .row-countdown {
     margin-top: 25px;
   }
   .wf-schedule-row {
     display: block;
   }
   .wf-schedule-row .wf-schedule-col {
     flex: unset;
     margin: 30px 0;
   }
   .wf-schedule-row .wf-bride-desc h1 {
     font-size: 28px;
   }
   .wf-schedule-row .wf-bride-desc p {
     font-size: 16px;
   }
   .wf-schedule-row .wf-schedule-header {
     max-width: 95%;
   }
   .wf-schedule-row .wf-schedule-header__col h5 {
     font-size: 14px;
   }
 }
 
 /** 
  * Styles for the countdown timer layout.
  */
 .wf-countdown {
   display: flex;
   align-items: center;
   justify-content: center;
   max-width: 575px;
   margin: 0 auto;
 }
 
 /** 
  * Styles for individual columns in the countdown timer.
  */
 .wf-countdown .wf-countdown-col {
   width: 25%;
   padding: 0 15px;
 }
 
 /** 
  * Styles for the countdown content box.
  */
 .wf-countdown .wf-countdown-content {
   background-color: #191970;
   border-radius: 8px;
 }
 
 /** 
  * Styles for the h5 elements in the countdown content.
  */
 .wf-countdown .wf-countdown-content h5 {
   font-size: 28px;
   color: #D3D3D3;
   font-family: 'made_tommymedium';
   padding: 15px 0;
   margin: 0;
 }
 
 /** 
  * Styles for spans in the countdown content.
  */
 .wf-countdown .wf-countdown-content span {
   display: block;
   padding: 3px 10px;
   background-color: rgba(35, 35, 35, 0.5);
   color: #D3D3D3;
   font-size: 15px;
   line-height: 1.5em;
   border-bottom-left-radius: 8px;
   border-bottom-right-radius: 8px;
 }
 
 /** 
  * Responsive styles for the countdown columns on smaller screens.
  */
 @media (max-width: 767px) {
   .wf-countdown .wf-countdown-col {
     padding: 0 5px;
   }
 }
 
 /*--- Section Location ---*/
 /** 
  * Styles for the location section, including padding and height.
  */
 .wf-section#section-location {
   padding: 0;
   height: 350px;
 }
 
 /** 
  * Styles for the iframe in the location section.
  */
 .wf-section#section-location iframe {
   width: 100%;
   height: 350px;
 }
 
 /*--- Section Story ---*/
 /** 
  * Styles for the story slide section, including padding and position.
  */
 .wf-section#section-story-slide {
   padding: 0;
   position: relative;
 }
 
 /** 
  * Styles for individual slide items in the story carousel.
  */
 .story-carousel .slide-item {
   text-align: center;
   color: #232323;
   background-size: cover;
   background-position: center;
   padding: 60px 0 30px 0;
   position: relative;
   min-height: 650px;
   display: flex;
   flex-direction: row;
 }
 
 /** 
  * Overlay effect for slide items in the story carousel.
  */
 .story-carousel .slide-item::after {
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background-color: rgba(255, 255, 255, 0.3);
   content: "";
   z-index: 0;
 }
 
 /** 
  * Styles for the story item content within each slide.
  */
 .story-carousel .slide-item .story-item {
   max-width: 700px;
   margin: 0 auto;
   position: relative;
   z-index: 1;
 }
 
 /** 
  * Styles for the story name in each slide.
  */
 .story-carousel .slide-item .story-name {
   font-size: 20px;
   font-family: 'made_tommymedium';
   margin-bottom: 0;
 }
 
 /** 
  * Styles for the description of the story in each slide.
  */
 .story-carousel .slide-item .story-desc {
   margin: 20px 0;
   position: relative;
 }
 
 /** 
  * Styles for paragraphs in the story description.
  */
 .story-carousel .slide-item .story-desc p {
   font-size: 16px;
   margin-bottom: 25px;
 }
 
 /** 
  * Styles for quotes in the story description.
  */
 .story-carousel .slide-item .story-desc p.quotes {
   font-style: italic;
   margin-bottom: 5px;
 }
 
 /** 
  * Styles for the bride icon in the story description.
  */
 .story-carousel .slide-item .story-desc .bride-icon img {
   width: 45px;
   margin-bottom: 10px;
 }
 
 /** 
  * Styles for images in the engaged gallery within the story description.
  */
 .story-carousel .slide-item .story-desc .gallery-engaged img {
   display: inline-block;
   margin: 0 5px;
 }
 
 /** 
  * Styles for images in the story description.
  */
 .story-carousel .slide-item .story-desc img {
   max-width: 150px;
   display: table;
   margin: 0 auto;
   border-radius: 8px;
 }
 
 /** 
  * Styles for the date in the story slide.
  */
 .story-carousel .slide-item .story-date {
   font-size: 14px;
 }
 
 /** 
  * Specific styles for the first story slide.
  */
 .story-carousel .slide-item#story_feriyal {
   background-position: 37%;
   background-repeat: no-repeat;
   background-size: cover;
 }
 
 /** 
  * Specific styles for the second story slide.
  */
 .story-carousel .slide-item#story_winda {
   background-position: 63%;
   background-repeat: no-repeat;
   background-size: cover;
 }
 
 /** 
  * Styles for navigation buttons in the story carousel.
  */
 .story-carousel .owl-nav {
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   right: 0;
   left: 0;
   bottom: 20px;
 }
 
 /** 
  * Styles for previous and next buttons in the story carousel.
  */
 .story-carousel .owl-nav .owl-prev,
 .story-carousel .owl-nav .owl-next {
   width: 25px;
   height: 25px;
   background-color: #A67C00;
   color: #FFFFFF;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 5px;
 }
 
 /** 
  * Responsive styles for the story carousel on medium screens.
  */
 @media (max-width: 991px) and (min-width: 768px) {
   .story-carousel .slide-item {
     padding: 60px 0 55px 0;
     height: 675px;
   }
 }
 
 /** 
  * Responsive styles for the story carousel on smaller screens.
  */
 @media (max-width: 767px) {
   .wf-section#section-bride,
   .wf-section#section-story {
     padding: 80px 0;
   }
   .story-carousel .slide-item .story-item {
     padding: 0 20px;
   }
   .story-carousel .slide-item .story-item .title-section {
     margin-bottom: 25px;
   }
   .story-carousel .slide-item .story-item .story-desc {
     margin: 10px 0;
   }
   .story-carousel .slide-item .story-item .story-desc p {
     font-size: 14px;
     margin-bottom: 10px;
   }
   .story-carousel .slide-item .story-item .story-name {
     font-size: 16px;
   }
 }
 
 /*--- Section Gallery ---*/
 /** 
  * Styles for the gallery section, ensuring it takes full height and centers content.
  */
 .wf-section#section-gallery {
   min-height: 100vh;
   position: relative;
   display: flex;
   align-items: center;
   flex-direction: row;
   padding: 60px 0;
 }
 
 /** 
  * Styles for the photo gallery wrapper in the gallery section.
  */
 .wf-section#section-gallery .photo-gallery-wrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
 }
 
 /** 
  * Styles for individual image items in the photo gallery.
  */
 .wf-section#section-gallery .photo-gallery-wrapper .img-item {
   border-radius: 8px;
   margin: 5px;
   width: 260px;
   height: 260px;
 }
 
 /** 
  * Styles for images within the image items in the photo gallery.
  */
 .wf-section#section-gallery .photo-gallery-wrapper .img-item img {
   width: 100%;
   height: 260px;
   object-fit: cover;
   object-position: center;
 }
 
 /** 
  * Styles for landscape images in the photo gallery.
  */
 .wf-section#section-gallery .photo-gallery-wrapper .img-item.img-landscape {
   width: 500px;
   height: 300px;
 }
 
 /** 
  * Styles for landscape images within the image items in the photo gallery.
  */
 .wf-section#section-gallery .photo-gallery-wrapper .img-item.img-landscape img {
   height: 300px;
 }
 
 /** 
  * Styles for the close button in the lightbox modal.
  */
 .modal.lightbox .btn-close {
   background-image: url(../img/close.png) !important;
   background-size: 15px !important;
   background-repeat: no-repeat !important;
   background-position: center !important;
 }
 
 /** 
  * Hides the SVG icon in the close button of the lightbox modal.
  */
 .modal.lightbox .btn-close svg {
   display: none;
 }
 
 /** 
  * Styles for the next and previous buttons in the lightbox carousel.
  */
 .modal.lightbox .lightbox-carousel .carousel-control-next,
 .modal.lightbox .lightbox-carousel .carousel-control-prev {
   width: 47px;
 }
 
 /** 
  * Styles for the previous button icon in the lightbox carousel.
  */
 .modal.lightbox .lightbox-carousel .carousel-control-prev-icon {
   background-image: url(../img/arrow-left.png);
   width: 20px;
   height: 20px;
 }
 
 /** 
  * Styles for the next button icon in the lightbox carousel.
  */
 .modal.lightbox .lightbox-carousel .carousel-control-next-icon {
   background-image: url(../img/arrow-right.png);
   width: 20px;
   height: 20px;
 }
 
 /** 
  * Styles for carousel items in the lightbox modal.
  */
 .modal.lightbox .lightbox-carousel .carousel-item {
   padding: 20px 0;
   background-color: #FFFFFF !important;
 }
 
 /** 
  * Styles for the ratio in carousel items in the lightbox modal.
  */
 .modal.lightbox .lightbox-carousel .carousel-item .ratio {
   background-color: #FFFFFF !important;
 }
 
 /** 
  * Responsive styles for the story carousel on medium screens.
  */
 @media (max-width: 991px) and (min-width: 768px) {
   .story-carousel .slide-item .story-desc img {
     max-width: 200px;
   }
   .wf-section#section-gallery .photo-gallery-wrapper .img-item {
     width: 220px;
     height: 220px;
   }
   .wf-section#section-gallery .photo-gallery-wrapper .img-item img {
     height: 220px;
   }
   .wf-section#section-gallery .photo-gallery-wrapper .img-item.img-landscape {
     width: 300px;
     height: 220px;
   }
   .wf-section#section-gallery .photo-gallery-wrapper .img-item.img-landscape img {
     height: 220px;
   }
 }
 
 /** 
  * Styles for the modal dialog in the lightbox on larger screens.
  */
 @media (min-width: 768px) {
   .modal-dialog {
     max-width: 700px;
   }
 }
 
 /** 
  * Responsive styles for the story carousel and gallery on smaller screens.
  */
 @media (max-width: 767px) {
   .story-carousel .slide-item {
     min-height: 580px;
     padding: 40px 0 30px 0;
   }
   .story-carousel .slide-item .story-desc img {
     max-width: 100px;
   }
   .wf-section#section-gallery .photo-gallery-wrapper .img-item {
     width: 110px;
     height: 110px;
   }
   .wf-section#section-gallery .photo-gallery-wrapper .img-item img {
     height: 110px;
   }
   .wf-section#section-gallery .photo-gallery-wrapper .img-item.img-landscape {
     width: 210px;
     height: 130px;
   }
   .wf-section#section-gallery .photo-gallery-wrapper .img-item.img-landscape img {
     height: 130px;
   }
   .modal.lightbox .lightbox-carousel .carousel-control-next,
   .modal.lightbox .lightbox-carousel .carousel-control-prev {
     width: 30px;
   }
   .modal.lightbox .lightbox-carousel .carousel-control-prev-icon,
   .modal.lightbox .lightbox-carousel .carousel-control-next-icon {
     width: 15px;
     height: 15px;
   }
   .modal.lightbox .btn-close {
     background-size: 12px !important;
     padding: 10px 8px !important;
   }
 }
 
 /*--- Section Quotes ---*/
 /** 
  * Styles for the quotes section, including background and layout.
  */
 .wf-section#section-quotes {
   background-image: url(../img/bg-quotes.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 90%;
   min-height: 300px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   padding: 80px 0;
 }
 
 /** 
  * Overlay effect for the quotes section.
  */
 .wf-section#section-quotes::before {
   position: absolute;
   content: "";
   right: 0;
   left: 0;
   bottom: 0;
   top: 0;
   background-color: rgba(255, 255, 255, 0.5);
 }
 
 /** 
  * Styles for the custom shape divider at the top of the quotes section.
  */
 .wf-section#section-quotes .custom-shape-divider-top {
   position: absolute;
   top: -1px;
   left: 0;
   width: 100%;
   overflow: hidden;
   line-height: 0;
   z-index: 0;
 }
 
 /** 
  * Styles for the image in the custom shape divider at the top of the quotes section.
  */
 .wf-section#section-quotes .custom-shape-divider-top img {
   height: 90px;
   width: 100%;
 }
 
 /** 
  * Styles for the quotes in Arabic within the quotes section.
  */
 .wf-section#section-quotes .quotes-arab {
   max-width: 700px;
   display: table;
   margin: 0 auto;
   margin-top: 30px;
 }
 
 /** 
  * Styles for paragraphs in the quotes section.
  */
 .wf-section#section-quotes .quotes-arab p {
   margin-bottom: 15px;
   text-align: center;
   font-size: 16px;
   color: #232323;
 }
 
 /** 
  * Styles for Arabic text in the quotes section.
  */
 .wf-section#section-quotes .quotes-arab p.arabic {
   font-size: 22px;
 }
 
 /** 
  * Styles for spans in the quotes section.
  */
 .wf-section#section-quotes .quotes-arab span {
   display: block;
   color: #333;
   font-size: 14px;
   text-align: center;
 }
 
 /** 
  * Responsive styles for the shape divider images on smaller screens.
  */
 @media (max-width: 767px) {
   .custom-shape-divider-top img,
   .custom-shape-divider-bottom img {
     height: 55px !important;
   }
 }
 
 /** 
  * Styles for the floating button that appears fixed on the screen.
  */
 .float {
   position: fixed;
   width: 50px;
   height: 50px;
   bottom: 32px;
   right: 32px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #A67C00;
   color: #FFF;
   border-radius: 50px;
   text-align: center;
   box-shadow: 2px 2px 3px #999;
   z-index: 999;
 }
 
 /** 
  * Styles for the play icon in the floating button.
  */
 .fa-play {
   color: white !important;
 }
 
 /** 
  * Styles for the pause icon in the floating button.
  */
 .fa-pause {
   color: white !important;
 }